pandas
numpy
scikit-learn
matplotlib
seaborn
tensorflow
FastAPI
uvicorn
requests
pytorch
pydantic
langchain
langchain-community==0.3.1
langchain-community==0.3.27
langchain-core
transformers
langgraph
python-dotenv
langsmith
streamlit
google-genai
langchain-groq